@model HallSector

@{
    ViewData["Title"] = "EditSector";
}

<div class="logForm main-container">
        <form asp-action="EditSector">
            <h4>Edit Hall Sector</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SectorName" class="control-label"></label>
                <input asp-for="SectorName" class="form-control" />
                <span asp-validation-for="SectorName" class="text-danger"></span>
            </div>
                <input type="hidden" asp-for="HallId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Details" asp-route-id="@Model.HallId">Back to List</a>
            </div>
        </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
