@model SmartReservationCinema.FilmContext.Town

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="logForm main-container">
    <div class="col-md-4">
        <h1>Create Town</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TownName" class="control-label"></label>
                <input asp-for="TownName" class="form-control" />
                <span asp-validation-for="TownName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
