@model SmartReservationCinema.FilmContext.Session

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="logForm main-container">
    <h1 style="text-align: center;">Create Session</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="CinemaId" class="control-label"></label>
                <select asp-for="CinemaId" class ="form-control" asp-items="ViewBag.CinemaList"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="CinemaId" class="control-label"></label>
                <input asp-for="cinema.CinemaName" class="form-control" readonly disabled />
                <input asp-for="CinemaId" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="HallId" class="control-label"></label>
                <select asp-for="HallId" class ="form-control" asp-items="ViewBag.HallList"></select>
            </div>
            <div class="form-group">
                <label asp-for="FilmId" class="control-label"></label>
                <select asp-for="FilmId" class ="form-control" asp-items="ViewBag.FilmList"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label"></label>
                <select asp-for="LanguageId" class ="form-control" asp-items="ViewBag.LanguageList"></select>
            </div>
            <div class="form-group">
                <label asp-for="SubtitleLanguageId" class="control-label"></label>
                <select asp-for="SubtitleLanguageId" class ="form-control" asp-items="ViewBag.LanguageList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <a asp-controller="Cinema" asp-action="Details" asp-route-id="@Model.CinemaId">Back to List</a>
            </div>
        </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
