@model SmartReservationCinema.FilmContext.Session

@{
    ViewData["Title"] = "Edit";
}

<div class="logForm container" style="flex-wrap:wrap;">
        <h1 style="text-align: center;width:100%;">Edit Session</h1>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="CinemaId" class="control-label"></label>
                <select asp-for="CinemaId" class="form-control" asp-items="ViewBag.CinemaList"></select>
                <span asp-validation-for="CinemaId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="CinemaId" class="control-label"></label>
                <input asp-for="Cinema.CinemaName" class="form-control" readonly disabled />
                <input asp-for="CinemaId" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="HallId" class="control-label"></label>
                <select asp-for="HallId" class="form-control" asp-items="ViewBag.HallList"></select>
                <span asp-validation-for="HallId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmId" class="control-label"></label>
                <select asp-for="FilmId" class="form-control" asp-items="ViewBag.FilmList"></select>
                <span asp-validation-for="FilmId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label"></label>
                <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.LanguageList"></select>
                <span asp-validation-for="LanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubtitleLanguageId" class="control-label"></label>
                <select asp-for="SubtitleLanguageId" class ="form-control" asp-items="ViewBag.LanguageList"></select>
                <span asp-validation-for="SubtitleLanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a asp-controller="Cinema" asp-action="Details" asp-route-id="@Model.CinemaId">Back to List</a>
            </div>
        </form>
        <div class="table-fix" id="price" style="width:30%">
            @await Html.PartialAsync("PriceTable", (IEnumerable<SmartReservationCinema.FilmContext.TicketPrice>)ViewBag.Prices)
        </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
