@model IEnumerable<SmartReservationCinema.FilmContext.Comment>
@{
}

@foreach(var comment in Model){
    <div class="all-comment" style="border-bottom: 1px solid #040202; margin-bottom: 5px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
        <h3>@comment.User.FirstName</h3>
        <p>@comment.Text<p>
        @if (Context.User.IsInRole("admin") || Context.User.IsInRole("manager"))
        {
            <form asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.Id"  style="margin: 0px 0px 10px 0px" method="post">
                <button style="width: 70px; padding-left:10px" type="submit" onclick="if(!confirm('You are sure?')) event.preventDefault();">Delete</button>
            </form>
        }
    </div>
}