@model SmartReservationCinema.FilmContext.FilmMark
@{
        Layout = null;
}
<html>
    <head>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body>
        <div asp-validation-summary="All" class="text-danger"></div>
            <form class="rate" asp-controller="FilmMarks" asp-action="Create">
                <input type="hidden" asp-for="FilmId"/>
                <button style="height:40px; width: 100px; font-size:20px;" type="submit">Submit</button>
                <input type="radio" id="star5" asp-for="Mark" value="5" />
                <label for="star5" title="text"></label>
                <input type="radio" id="star4" asp-for="Mark" value="4" />
                <label for="star4" title="text"></label>
                <input type="radio" id="star3" asp-for="Mark" value="3" />
                <label for="star3" title="text"></label>
                <input type="radio" id="star2" asp-for="Mark" value="2" />
                <label for="star2" title="text"></label>
                <input type="radio" id="star1" asp-for="Mark" value="1" />
                <label for="star1" title="text"></label>
            </form>
    </body>
</html>


