@model SmartReservationCinema.Models.PasswordRestore
@{
}

<div class="logForm container">
    <form asp-action="CheckRestoreCode" method="post">
        <h2>Write code for restore password</h2>
        <label asp-for="RestoreCode"></label>
        <input type="number" asp-for="RestoreCode">
        <span asp-validation-for="RestoreCode" class="text-danger"></span>
    </br>
    <p>Check your email for code. If not see in main email box. Check spam!</p>
    </br>
    <div class="regst">
        <button type="submit">Restore</button>
        <p class="leftSight">Don't have an account? <a asp-action="Registration">Register now</a></p>
    </div>
    </form>
</div>