@model SmartReservationCinema.Models.EnterNewPassword
@{
}
		<div class="logForm container">
			<form asp-action="EnterNewPassword" method="post">
				<h2>Restore Password</h2>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<label asp-for="Password"></label>
				<input type="password" asp-for="Password">
				<span asp-validation-for="Password" class="text-danger"></span>

				<label asp-for="RepeatPassword"></label>
				<input type="password" asp-for="RepeatPassword">
				<span asp-validation-for="RepeatPassword" class="text-danger"></span>
		</br>
        <div class="regst">
			<button type="submit">Restore</button>
          <p class="leftSight">Don't have an account? <a asp-action="Registration">Register now</a></p>
        </div>
			</form>
		</div>