@{
}
<div class="purchase-history">
    <a href="/Account/Profile">Account info</a>
    <a href="/Account/ChangePassword">Change Password</a>
    <a asp-action="FavouriteFilmList">Favourite Films</a>
</div>