@model SmartReservationCinema.Models.PasswordRestore
@{
}
		<div class="logForm container">
			<form asp-action="PasswordRestore" method="post">
        <h2>Restore Password</h2>
				<label asp-for="Email"></label>
				<input type="email" asp-for="Email">
				<span asp-validation-for="Email" class="text-danger"></span>
		</br>
        <div class="regst">
			<button type="submit">Restore</button>
          <p class="leftSight">Don't have an account? <a asp-action="Registration">Register now</a></p>
        </div>
			</form>
		</div>