@model SmartReservationCinema.Models.CinemaModel

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="logForm container">
        <form asp-action="Create" enctype="multipart/form-data">
            <h2>Create Cinema</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CinemaName" class="control-label"></label>
                <input asp-for="CinemaName" class="form-control" />
                <span asp-validation-for="CinemaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localisation" class="control-label"></label>
                <input asp-for="Localisation" class="form-control" />
                <span asp-validation-for="Localisation" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="LongCoordinate" class="control-label"></label>
                <input asp-for="LongCoordinate" class="form-control" />
                <span asp-validation-for="LongCoordinate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatCoordinate" class="control-label"></label>
                <input asp-for="LatCoordinate" class="form-control" />
                <span asp-validation-for="LatCoordinate" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="CinemaRating" class="control-label"></label>
                <input asp-for="CinemaRating" class="form-control" />
                <span asp-validation-for="CinemaRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="uploadFile"/>
                <span asp-validation-for="uploadFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TownId" class="control-label"></label>
                <select asp-for="TownId" class ="form-control" asp-items="ViewBag.Towns"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
